<div class = 'text-right background' > 
</div> 
<%#= link_to "New Order", new_order_path, class:  "btn btn-secondary mb-2" %> 
</table> 
<%= current_user.email %> 
<table class= "table css-clas-dark"> 
	<thead class = "thead-dark" > 
		<tr bgcolor= "#C7792B"> 
			<th scope = "col">Order No. </th> 
			<th scope = "col">food </th> 
			<th scope = "col">food_quantity </th>
			<th scope = "col"> beverage </th>
			<th scope = "col" > beverage_quantity </th>
			<th scope = "col" > Actions </th>

<%= link_to "New Order", new_order_path, class:  "btn btn-danger mb-2" %> 



			</tr>
			</thead>
			<tbody>  
			        <% @orders.each do |f| %> 
			           <tr bgcolor="#C7792B"> 
			   	       <th scope ="row">FA-<%= "#{1000 + f.id}" %> </th>
			   	         <td> <%= f.food %> </td> 
			   	        <td> <%= f.food_quantity %> </td> 
			   	      <td> <%= f.beverage %> </td> 
			   	    <td> <%= f.beverage_quantity%> </td> 





<td> <%= link_to 'update', edit_order_path(f), class: "btn btn-sm btn-primary" %>
<%= link_to 'cancel', order_path(f), method: :delete, data: {confirm: "Do ypu want to cancel your order?"}, class: "btn btn-sm btn-danger" %>
<%= link_to 'Bill', order_path(f), class: "btn btn-sm btn-secondary" %>


</td>
</tr>
<% end %>
</tbody>
</table>